* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  height: 87.1vh;
}

.navbar {
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-color: #333333;
  padding: 10px;
}

.navbar-brand,
.nav-link {
  color: #fff !important;
}

.footer {
  background-color: #333333;
  padding: 15px;
  color: #fff;
  margin: 0;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
