* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  height: 100vh;
}

.navbar {
  background-color: #e2f3f4 !important; /* Dark background */
  padding: 12px 16px;
}

/* Navbar background */
.container-fluid {
  background-color: #e2f3f4 !important; /* Dark background */
  padding: 12px 20px;
  margin: 0px;
}

/* Navbar brand (logo/text) */
.financify {
  color: #6dc7d1 !important;
  font-weight: bold;
  font-size: 30px !important;
  transition: color 0.3s ease;
  text-emphasis-color: #333;
}

/* Navbar links */
.navbar-nav .nav-link {
  color: #6dc7d1 !important;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Welcome text */
.welcome-text {
  font-size: 20px;
  text-shadow: #333;
  font-weight: bold;
  color: #6dc7d1;
  margin-right: 20px;
}

/* Logout button */
.logout-btn {
  font-size: 14px;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #dc3545;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #bb2d3b;
}

/* Navbar collapse toggle (for mobile) */
.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  color: white;
}

.footer {
  background-color: #6dc7d1;
  padding: 20px;
  color: #e2f3f4;
  margin: 0;
}

.text-center {
  font-size: large;
  font-weight: bold;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* transaction page */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 0 3px #9b9a9a;
}

/* antd icons */
.switch-icons {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: #6dc7d1;
}
.inactive-icon {
  color: #333;
}
